<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments-list::head">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <!--    <nav class="main-header navbar navbar-expand navbar-white navbar-light">-->
    <!--        &lt;!&ndash; Left navbar links &ndash;&gt;-->
    <!--        <ul th:replace="fragments-list::leftNavbar"></ul>-->
    <!--        &lt;!&ndash; Right navbar links &ndash;&gt;-->
    <!--        <ul th:replace="fragments-list::rightNavbar"></ul>-->
    <!--    </nav>-->

    <!-- Main Sidebar Container -->
    <!--    <aside class="main-sidebar sidebar-dark-primary elevation-4">-->
    <!--        &lt;!&ndash; Brand Logo &ndash;&gt;-->
    <!--        <a th:replace="fragments-list::brandLogo"></a>-->
    <!--        &lt;!&ndash; Sidebar &ndash;&gt;-->
    <!--        <div class="sidebar">-->
    <!--            &lt;!&ndash; Sidebar user panel (optional) &ndash;&gt;-->
    <!--            <div th:replace="fragments-list::sidebarUserPanel"></div>-->
    <!--            &lt;!&ndash; SidebarSearch Form &ndash;&gt;-->
    <!--            <div th:replace="fragments-list::sidebarSearchForm"></div>-->
    <!--            &lt;!&ndash; Sidebar Menu &ndash;&gt;-->
    <!--            <nav th:replace="fragments-list::sidebarMenu"></nav>-->
    <!--        </div>-->
    <!--    </aside>-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Student Address</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>STUDENT_ID</th>
                                        <th>PRESENT_ADDRESS_LINE</th>
                                        <th>PRESENT_COUNTRY_ID</th>
                                        <th>PRESENT_DIVISION_ID</th>
                                        <th>PRESENT_DISTRICT_ID</th>
                                        <th>PRESENT_THANA_ID</th>
                                        <th>PRESENT_THANA_IS_OTHERS</th>
                                        <th>PRESENT_THANA_OTHERS</th>
                                        <th>PERMANENT_ADDRESS_LINE</th>
                                        <th>PERMANENT_COUNTRY_ID</th>
                                        <th>PERMANENT_DIVISION_ID</th>
                                        <th>PERMANENT_DISTRICT_ID</th>
                                        <th>PERMANENT_THANA_ID</th>
                                        <th>PERMANENT_THANA_IS_OTHERS</th>
                                        <th>PERMANENT_THANA_OTHERS</th>
                                        <th>LAST_MODIFIED</th>
                                        <th>CREATED_ON</th>
                                        <th>UPDATED_ON</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="u: ${address}">
                                        <td th:text="${u.ID}"></td>
                                        <td th:text="${u.STUDENT_ID}"></td>
                                        <td th:text="${u.PRESENT_ADDRESS_LINE}"></td>
                                        <td th:text="${u.PRESENT_COUNTRY_ID}"></td>
                                        <td th:text="${u.PRESENT_DIVISION_ID}"></td>
                                        <td th:text="${u.PRESENT_DISTRICT_ID}"></td>
                                        <td th:text="${u.PRESENT_THANA_ID}"></td>
                                        <td th:text="${u.PRESENT_THANA_IS_OTHERS}"></td>
                                        <td th:text="${u.PRESENT_THANA_OTHERS}"></td>
                                        <td th:text="${u.PERMANENT_ADDRESS_LINE}"></td>
                                        <td th:text="${u.PERMANENT_COUNTRY_ID}"></td>
                                        <td th:text="${u.PERMANENT_DIVISION_ID}"></td>
                                        <td th:text="${u.PERMANENT_DISTRICT_ID}"></td>
                                        <td th:text="${u.PERMANENT_THANA_ID}"></td>
                                        <td th:text="${u.PERMANENT_THANA_IS_OTHERS}"></td>
                                        <td th:text="${u.PERMANENT_THANA_OTHERS}"></td>
                                        <td th:text="${u.LAST_MODIFIED}"></td>
                                        <td th:text="${u.CREATED_ON}"></td>
                                        <td th:text="${u.UPDATED_ON}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Control Sidebar -->
    <aside th:replace="fragments-list::rightNavbarOptions"></aside>

    <!-- Main Footer -->
    <footer th:replace="fragments-list::footer" class="main-footer"></footer>

</div>


<!---------------------- REQUIRED SCRIPTS ------------------------------------------->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script src="/dist/js/demo.js"></script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
</html>